/* Light Theme */
html[data-theme='light'] {
  --background-color: #ffffff;
  --text-color: #000000;
  --input-background: #ffffff;
  --input-text-color: #000000;
  --border-color: #d9d9d9;
  --button-background: #007bff;
  --button-text-color: #ffffff;
  --button-border: #007bff;
  --button-hover-background: #0056b3;
  --button-hover-border: #0056b3;
}

/* Dark Theme */
html[data-theme='dark'] {
  --background-color: #1c1c1c;
  --text-color: #ffffff;
  --input-background: #333333;
  --input-text-color: #ffffff;
  --border-color: #444444;
  --button-background: #007bff;
  --button-text-color: #ffffff;
  --button-border: #007bff;
  --button-hover-background: #0056b3;
  --button-hover-border: #0056b3;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.container {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  padding-bottom: 25px;
}

input, textarea {
  background-color: var(--input-background);
  color: var(--input-text-color);
  border: 1px solid var(--border-color);
}

.spotify-auth-btn {
  background: #1db954 !important;
  color: var(--button-text-color) !important;
  border-color: #1db954 !important;
  border-radius: 4px;
  transition: background-color 0.3s, border-color 0.3s;
}

.spotify-auth-btn:hover {
  background: #45bb6e !important;
  border-color: #45bb6e !important;
}

.vert-space {
  width: 100%;
}

.markdown {
  font-family: monospace;
  margin-bottom: 8px !important;
  background-color: var(--input-background);
  color: var(--input-text-color);
  border: 1px solid var(--border-color);
  padding: 10px;
  border-radius: 4px;
}

/* Dark Mode Styles for Ant Design Components */
.ant-breadcrumb-link {
  color: var(--text-color) !important;
}

.ant-tabs-nav-list {
  color: var(--text-color) !important;
}

/* Custom Button Styles */
.custom-button {
  background: var(--button-background);
  color: var(--button-text-color);
  border: 1px solid var(--button-border);
  border-radius: 4px;
  padding: 8px 16px;
  margin: 0 5px;
  transition: background-color 0.3s, border-color 0.3s;
  display: flex;
  align-items: center;
}

.custom-button:hover {
  background: var(--button-hover-background);
  border-color: var(--button-hover-border);
}

/* Custom Source Code Button Styles */
.source-code-btn {
  background: transparent;
  color: var(--text-color);
  border: none;
  border-bottom: 1px solid var(--border-color);
  padding: 8px 16px;
  margin: 0 5px;
  transition: color 0.3s, border-color 0.3s;
}

.source-code-btn:hover {
  color: var(--button-hover-background);
  border-color: var(--button-hover-background);
}

/* Dark Mode and Light Mode Icons */
.theme-icon {
  font-size: 20px;
  cursor: pointer;
  margin: 0 10px;
}
