/* Light Theme */
html[data-theme='light'] {
  --background-color: #ffffff;
  --text-color: #000000;
  --input-background: #f0f0f0; 
  --input-text-color: #333333;
  --border-color: #d9d9d9;
  --button-background: #007bff;
  --button-text-color: #ffffff;
  --button-border: #007bff;
  --button-hover-background: #0056b3;
  --button-hover-border: #0056b3;
}

/* Dark Theme */
html[data-theme='dark'] {
  --background-color: #1c1c1c;
  --text-color: #f0f0f0;
  --input-background: #2a2a2a;
  --input-text-color: #ffffff;
  --border-color: #444444;
  --button-background: #007bff;
  --button-text-color: #ffffff;
  --button-border: #007bff;
  --button-hover-background: #0056b3;
  --button-hover-border: #0056b3;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 25px 0;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 25px;
}

.content {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 15px;
  text-align: center;
}

.auth-button-container {
  display: flex;
  justify-content: center;
}

input, textarea {
  background-color: var(--input-background);
  color: var(--input-text-color);
  border: 1px solid var(--border-color);
}

.spotify-auth-btn {
  background: #1db954 !important;
  color: var(--button-text-color) !important;
  border-color: #1db954 !important;
  border-radius: 4px;
  transition: background-color 0.3s, border-color 0.3s;
}

.spotify-auth-btn:hover {
  background: #45bb6e !important;
  border-color: #45bb6e !important;
}

.vert-space {
  width: 100%;
}

.markdown, .htmlkodu {
  font-family: monospace;
  margin-bottom: 8px !important;
  background-color: var(--input-background);
  color: var(--input-text-color);
  border: 1px solid var(--border-color);
  padding: 10px;
  border-radius: 4px;
  white-space: pre-wrap;
  word-break: break-word;
}

/* Footer Styles */
.site-footer {
  background-color: var(--background-color);
  color: var(--text-color);
  text-align: center;
  padding: 20px;
  position: relative;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #dcdcdc;
  margin-top: 20px;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-content p {
  margin: 0;
  font-size: 14px;
}

.footer-content a {
  color: var(--button-background);
  text-decoration: none;
}

.footer-content a:hover {
  text-decoration: underline;
}

/* Responsive Optimizations */
@media screen and (max-width: 768px) {
  .container {
    padding: 15px;
  }

  .content {
    width: 95%;
  }

  .footer-content p {
    font-size: 12px;
  }
}

@media screen and (max-width: 480px) {
  .button-container {
    flex-direction: column;
    gap: 5px;
  }

  .footer-content p {
    font-size: 10px;
  }
}
